.page {
  display: flex;
  height: 100vh;
}

.room {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 80px);
}

emoji-picker {
  position: fixed;
  border: 1px solid #888;
}
