.roomMessageReaction {
  span {
    transition: 350ms ease all;
    display: inline-block;
    border: 1px solid #666;
    width: fit-content;
    height: 25px;
    padding: 0 4px;
    border-radius: 4px;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    background: #FCFCFC;

    &:hover, &:active {
      background-color: #FFF;
    }

    &::after {
      content: attr(data-count);
      padding-left: 3px;
      font-size: 12px;
      color: #888;
    }
  }
}
